.projects-container{
    /* background-color: rgba(151, 107, 196, 0.5); */
    background-color: rgba(25, 0, 60, 0.7);
    margin: 80px;
    border-radius:25px;
    text-align: center;
    /* padding: 20px; */
}

/* ----------- TAB ------------ */
.tab-container{
    background-color: white;
    display: flex;
    justify-content: space-around;
    margin: 0px 5%;
    border-radius: 20px;
}
.tab{
    padding: 15px;
    border-width: 1px;
    width:100%;
    background-image: linear-gradient(to right, #445862, #ffd3e0);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 1s ease;

}
.tab:hover{
    background-size: 100% 100%;
    /* background: linear-gradient(to right, #445862, #ffd3e0); */
}
.tab:nth-child(1){
    border-top-left-radius: 20px ;
    border-bottom-left-radius: 20px ;
    border-right-style: solid;
}
.tab:nth-child(3){
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px ;
    border-left-style: solid;
}