.projects-container{
    /* background-color: rgba(151, 107, 196, 0.5); */
    background-color: rgba(25, 0, 60, 0.7);
    margin: 80px;
    border-radius:25px;
    text-align: center;
    /* padding: 20px; */
}