
body{
  background-image: url('./assets/banner.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  /* width:100%; */
  background-size: cover;
  /* background-image: url('./assets/banner.svg'); */
  /* linear-gradient(to bottom, #cfbbedff, #b476cfff, #8763baff  ); */
}
/* .gradient{
  background: linear-gradient(to bottom, #cfbbedff, #b476cfff, #8763baff  );
} */

html{
    font-size: 16px;
  }
  @media (max-width:1200px){
    html{
      font-size: 15px;
    }
  }
  @media (max-width:992px){
    html{
      font-size: 14px;
    }
  }
  @media (max-width:768px){
    html{
      font-size: 13px;
    }
  }
  @media (max-width:576px){
    html{
      font-size: 12px;
    }
  }
  @media (max-width:480px){
    html{
      font-size: 11px;
    }
  }
  @media (max-width:400px){
    html{
      font-size: 10px;
    }
  }
  @media (max-width:320px){
    html{
      font-size: 9px;
    }
  }
  @media (max-width:240px){
    html{
      font-size: 8px;
    }
  }