.nav-icons{
    width: 45px;
    height: 45px;
    transition: transform 0.3s ease-in-out;
}

.upwork{
    width: 35px;
    height: 35px;
}

.navBar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: black; */
    height:auto;
    /* position: fixed; */
    /* top:0; */
    /* z-index:1000; */
}

.navBar>span{
    margin:20px;
}

.social-nav, .anchor-nav, .connect-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.social-nav{
    /* width:50%; */
    /* min-width: 50px; */
    max-width:250px;
}

.social-nav>a, .connect-nav>a{
    margin:5px;
}

.anchor-nav{
    width:40%;
    max-width:400px ;
}

.anchor-nav>a:hover{
    border-bottom: solid white 2px;
    transform: scale(1.15);
    /* transform: translateY(-20px); */
}
.anchor-nav>a:hover .text-nav{
    color:white;
}
.arrow{
    margin-left:10px;
}
.connect-nav{
    width:20%;
    max-width: 220px;
    margin: 10px;
    border-style: solid;
    border-color: aliceblue;
    border-width: 2px;
    padding:10px 15px;
}

.connect-nav:hover, .connect-nav:active{
    border-color: rgba(0%,0%,0%,10%);
    background-color:rgba(0%,0%,0%,60%);
    transition: background-color 0.5s;
}
.text-nav{
    color:aliceblue;
    font-size: 1rem;
    /* transition: transform 0.2s ease-in-out; */
}
.connect-nav:hover .text-nav{
    color:white;
}
/* .anchor-icon-nav{
    display:none;
} */

.link-nav{
    text-decoration: none;
}
.nav-icons-logo:hover{
    transform: scale(2);
    animation: logo 1s linear infinite;
}

.ham{
    display:none;
    margin: 25px;
}
.ham .ham-closed{
    display: none;
}
@keyframes logo{
    0% { transform: scale(1) rotate(0deg); }
    25% { transform: scale(1.2) rotate(15deg); }
    50% { transform: scale(1.2) rotate(-10deg); }
    75% { transform: scale(1.2) rotate(5deg); }
    100% { transform: scale(1) rotate(0deg); }
}

@media (max-width:1200px){

}
@media (max-width:1100px){
    .anchor-nav, .connect-nav{
        display:none;
    }
}
@media (max-width:992px){

}
@media (max-width:768px){
    .nav-icons{
        height:40px;
        width: 40px;
    }
}
@media (max-width:576px){
    .nav-icons{
        height:30px;
        width: 30px;
    }
    /* .ham{
        margin:15px;
    } */
}
@media (max-width:470px){
    .nav-icons{
        height:30px;
        width: 30px;
    }
}